name: Publish

on:
  push:
    branches: [main]

permissions:
  id-token: write  # Required for OIDC
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version: '20.x'
          registry-url: 'https://registry.npmjs.org'

      - name: Install dependencies
        run: yarn

      - name: Test
        run: yarn test

      - name: Build
        run: yarn build

      - name: Publish
        run: |
          git config --global user.name "MSafeAdmin"
          git config --global user.email "admin@m-safe.io"
          git fetch
          git checkout main
          git clean -df
          git checkout .
          git pull
          npm version patch
          git push --follow-tags --force
          yarn publish --non-interactive --access public
